.clocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 30px;

  &__item {
    position: relative;
  }

  &__city {
    margin-bottom: 10px;

    font-size: 20px;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 0;

    font-size: 18px;

    border: 1px solid #eeeeee;
    border-radius: 50%;
    cursor: pointer;
  }
}

.clock {
  background: #ffffff;
  border: 5px solid white;
  border-radius: 100%;
  box-shadow: inset 2px 3px 8px 0 rgba(0, 0, 0, 0.1);
}

.wrap {
  position: relative;

  width: 350px;
  height: 350px;
  overflow: hidden;

  border-radius: 100%;
}

.minute,
.hour {
  position: absolute;
  top: -27%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  width: 6px;
  height: 100px;
  margin: auto;

  background: black;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  transform: rotate(0deg);
  transform-origin: bottom center;
}

.minute {
  position: absolute;
  top: -38%;
  left: 0;

  width: 4px;
  height: 130px;

  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  transform: rotate(90deg);
}

.second {
  position: absolute;
  top: -26%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  width: 2px;
  height: 90px;
  margin: auto;

  background: #ff4b3e;
  border-radius: 4px;
  transform: rotate(180deg);
  transform-origin: bottom center;
}

.dot {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  width: 12px;
  height: 12px;
  margin: auto;

  background: white;
  border: 2px solid #1b1b1b;
  border-radius: 100px;
  border-radius: 100px;
}
